*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey-light: rgba(250, 250, 250, 0.2);
  --color-grey: rgba(250, 250, 250, 0.1);

  --color-blue-light: rgba(150, 234, 245, 0.3);

  --margin: 3rem;
}

html {
  font-size: 62.5%;
}

body {
  background: url('../img/tło-duże.jpg') no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}
.wrapper {
  max-width: 144rem;
  margin: var(--margin) auto;
  background-color: var(--color-grey-light);
  min-height: calc(100vh - 2 * var(--margin));
}
.contener {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  margin: 3rem 0;
}
.form {
  position: relative;
}
.form__search {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 100px;
  border: none;
}
.search__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}
.search__icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.display {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather {
  text-align: center;
  justify-content: space-around;
  border-radius: 1rem;
  font-size: 3rem;
}

.country {
  min-height: 40vh;
  min-width: 40vh;
  background-color: var(--color-blue-light);
}

.country__name {
  font-size: 4rem;
  letter-spacing: 2px;
  padding: 1rem 3rem 0;
}
.country__city {
  font-size: 3rem;
  letter-spacing: 2px;
}

.country__img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img {
  position: relative;
  margin-left: 5rem;
}
.img__weather {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.img__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}
.country__img--temp {
  flex: 1;
  font-size: 4rem;
}

.packet {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
}
.atmospheric {
  padding: 1rem 0;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.atmospheric__data {
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.atmospheric__button {
  background-color: transparent;
  margin-right: 0.5rem;
  border: none;
}
.atmospheric__icon {
  width: 2rem;
  height: 2rem;
}

/* -----------------MEDIA QUERY----------------------------------- */

@media screen and (max-width: 900px) {
  html {
    font-size: 60%;
    height: 100vh;
  }
  body {
    background: url('../img/tło-małe.jpg') no-repeat;
    background-size: cover;
  }

  .wrapper {
    height: 100vh;
    margin: 0;
  }
  .img {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 45%;
  }
  .img {
    margin-left: 0;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 50%;
  }
  .wrapper {
    margin: 0;
    height: 100vh;
  }

  .country__name {
    font-size: 4rem;
    padding: 1rem 3rem 0;
  }

  .atmospheric__data {
    font-size: 3rem;
  }

  .packet {
    margin-top: 7rem;
  }
  .atmospheric {
    flex-basis: 30%;
  }

  .country {
    min-height: 50vh;
    min-width: 70vw;
  }
  .img {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  html {
    font-size: 45%;
  }

  .country__name {
    font-size: 3rem;
    padding: 0rem 2rem 0;
  }

  .atmospheric__data {
    font-size: 2.5rem;
  }
  .img {
    position: relative;
    margin-left: 10rem;
    width: 100px;
    height: 100px;
  }
  .packet {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  html {
    font-size: 40%;
  }
  .atmospheric__data {
    font-size: 2rem;
  }
}
